@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3em;
  background-color: #3c3a39;
  height: 72px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo-nav {
  font-weight: 700;
  font-size: 18px;
}

.logo-nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 150px;
  transition: all 0.5s ease-out;
}

#navy-ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 125px;
  transition: all 0.5s ease-out;
  visibility: visible;
}

a:hover,
a:focus {
  background-color: #fff;
  color: #333;
}

.links-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-out;
  bottom: 1px;
}

li {
  list-style-type: none;
}

.navy-ul li {
  list-style-type: none;
}

.logo2-nav {
  display: none;
}

.menu-x {
  visibility: hidden;
}

.profile {
  width: 100%;
  left: 0;
  top: 0;
  background: #1c1a19;
  height: 870px;
  padding-top: 192px;
  background-image: url(./img/Icons/Illustration-header.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.grid {
  display: grid;
  grid-template-columns: 40px 500px 900px;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.socials-top {
  grid-area: 1 / 1 / 2 / 2;
}

.profile text {
  grid-area: 1 / 2 / 2 / 3;
}

.profile-img {
  grid-area: 1 / 3 / 2 / 4;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 279px;
  margin-left: 40px;
  justify-content: space-between;
  gap: 10px;
}

.profile-text h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  margin-left: 143px;
  padding-bottom: 24px;
  width: 566px;
  padding-top: 130px;
}

.profile-text h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  margin-left: 143px;
}

.profile-text p {
  width: 566px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  height: 40px;
  margin-left: 143px;
  color: #f4f5f7;
  line-height: 32px;
  padding-top: 24px;
}

.header2 ul {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 12px;
}

.ha {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  color: #091e42;
  width: 100%;
  text-align: center;
}

.hr1 {
  width: 80%;
  border: 1px solid #212121;
}

.rc {
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
}

.hb {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  padding-left: 24px;
}

.hc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  width: 448px;
  height: 148px;
  padding-left: 24px;
  margin-top: 24px;
}

.nx {
  display: flex;
  gap: 8px;
  list-style-type: none;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.nx li {
  width: 95px;
  height: 40px;
  padding: 10px 12px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
}

.button1 {
  width: 124px;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-left: 24px;
  border: none;
}

.button2 {
  width: 100%;
  border-style: none;
  margin-left: 0;
  margin-top: 390px;
}

.ul {
  display: flex;
  padding-left: 24px;
  gap: 8px;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: auto;
}

.ul li {
  border: 1px solid #8993a4;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  height: 40px;
  padding: 10px 12px;
  margin-top: 141px;
}

#about-section {
  background: #1c1a19;
  padding: 20px 10px;
}

.header3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 120px;
  margin-bottom: 24px;
  background-image: url(./img/Icons/abstract.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 143px;
}

.hf {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5em;
  line-height: 82px;
  color: #ff6b00;
  height: 78px;
}

.header3 p {
  width: 566px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 123px;
  color: #f4f5f7;
  line-height: 32px;
}

.button-first {
  width: 9.4em;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  border: none;
}

.prog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 10px;
}

#hr-abt {
  border: 1px solid #fff;
  margin: auto;
  width: 80%;
}

.list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  list-style: none;
  color: #fff;
}

.modal-ul li {
  color: #091e42;
  border: 1px solid #5b5957;
  padding: 0.5em;
  text-align: center;
}

.list li {
  text-align: left;
}

.card-ul li {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.24);
}

.list li:nth-child(1) {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.contact-area {
  display: flex;
  justify-content: space-between;
}

.forms {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 60px;
  padding: 24px 100px;
  margin-top: 120px;
}

.hg {
  color: #262626;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
}

.getcontact {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.input:placeholder {
  color: #dbd8d7;
}

.textarea {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #3c3a39;
  background-color: #fbf8f7;
}

.button-final {
  width: 124px;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;
  border: none;
}

.button-final:active {
  background-color: #e05304;
  color: #f4f1f0;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.footer {
  padding: 20px 20px;
  border-top: 1px solid #dfe1e6;
}

.footer ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 10px;
  grid-column-gap: 13px;
  grid-row-gap: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

.card1 {
  height: 500px;
  background-image: url(./img/Icons/first.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.card2 {
  background-image: url(./img/Icons/second.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}

.card3-container {
  display: flex;
  flex-direction: column;
}

.card2:hover {
  background-image: url(./img/Icons/first.png);
  display: block;
}

.card2:hover .chips {
  display: none;
}

.card2:hover button.cardbtn {
  display: block;
  height: 58px;
  background-color: #f55800;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-top: 442px;
  width: 100%;
}

.card3 {
  background-image: url(./img/Icons/third.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}

.card3:hover {
  background-image: url(./img/Icons/first.png);
  display: block;
}

.card3:hover .chips {
  display: none;
}

.card3:hover button.cardbtn {
  display: block;
  height: 58px;
  background-color: #f55800;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-top: 442px;
  width: 100%;
}

.card4 {
  background-image: url(./img/Icons/fourth.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}

.card4:hover {
  background-image: url(./img/Icons/first.png);
  display: block;
}

.card4:hover .chips {
  display: none;
}

.card4:hover button.cardbtn {
  display: block;
  height: 58px;
  background-color: #f55800;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-top: 442px;
  width: 100%;
}

.chips h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-left: 10px;
  margin-top: 120px;
}

.chips p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-left: 10px;
}

.card-ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  margin-top: 60px;
}

.cardbtn {
  height: 58px;
  background-color: #f55800;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-top: 28px;
  display: none;
}

.card1 button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.card1 button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.hidden {
  visibility: hidden;
}

.modalcontainer {
  background-color: #fff;
  height: 631px;
  width: 1156px;
}

.popup {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 5%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.bg-modal {
  padding: 0 20px;
  width: 659px;
  height: 448px;
}

.modalflex {
  display: flex;
}

.title {
  width: 100%;
  height: auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-left: 20px;
  padding-top: 50px;
}

.titleclose {
  display: flex;
  justify-content: space-between;
}

.modal-ul {
  display: flex;
  gap: 2%;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tech1 {
  width: 55px;
  height: 36px;
}

.tech2 {
  width: 90px;
  height: 36px;
}

.tech3 {
  width: 109px;
  height: 36px;
}

.modalbtn {
  color: #1c1a19;
  font-size: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.modaldescript {
  font-size: 1em;
  line-height: 1.8em;
  padding-bottom: 10px;
  color: #344563;
  width: 424px;
  height: 336px;
  margin-bottom: 18%;
}

.livebtn {
  height: 100px;
  padding: 10px 10px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.livebtn:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.eMsg {
  height: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  color: red;
  padding: 2%;
  margin-top: 1%;
}

@media screen and (max-width: 768px) {
  #fullwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #fullwrap > * {
    order: 999;
  }

  .card3:hover button.cardbtn {
    margin-top: 105%;
    height: 48px;
  }

  .card2:hover button.cardbtn {
    margin-top: 105%;
    height: 48px;
  }

  .card4:hover button.cardbtn {
    margin-top: 100%;
    height: 48px;
  }

  #header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
  }

  #navy-ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 68px;
    background: #3c3a39;
    width: 100%;
    padding-top: 10%;
    visibility: hidden;
  }

  .links-nav {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    transition: all 0.5s ease-out;
    bottom: 1px;
    width: 100%;
    display: flex;
  }

  .logo-nav a {
    padding-left: 40%;
    margin: 0;
  }

  #navy-ul a {
    border-bottom: 2px solid #6f6c6b;
  }

  .menu-x {
    visibility: hidden;
    position: absolute;
    right: 5%;
  }

  .logo-nav {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vet-parents {
    display: flex;
    flex-direction: column;
  }

  .vet {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 3px;
  }

  .profile {
    width: 100%;
    background: #1c1a19;
    background-image: url(./img2/Group.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 30%;
    background-position-y: bottom;
    margin: 0;
    padding: 25px 0;
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: auto;
  }

  .card {
    width: 100%;
  }

  .card-ul {
    visibility: visible;
    gap: 5px;
    margin-top: 5px;
  }

  .profile-text {
    width: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .aside {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    padding-top: 554px;
    padding-top: 600px;
  }

  .aside li {
    padding: 0;
    margin: 0;
  }

  .profile-text h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
    line-height: 82px;
    color: #f55800;
    margin-left: -240px;
    padding-bottom: 24px;
    height: 124px;
    width: 327px;
    padding-top: 120px;
  }

  .hc {
    font-size: 18px;
    line-height: 28px;
    color: #091e42;
    width: 100%;
    padding-left: 24px;
    margin-top: 16px;
  }

  .profile-text h2 {
    font-size: 1.5em;
    margin-left: -240px;
    width: 327px;
    padding-top: 140px;
    color: #fff5e1;
  }

  .profile-text p {
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    margin-left: -240px;
    padding-top: 24px;
  }

  .header3 p {
    width: 80%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    color: #f4f5f7;
  }

  .header2 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hr1 {
    width: 300px;
    border: 1px solid #212121;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hidden {
    visibility: visible;
  }

  .env {
    display: none;
  }

  #about-section {
    background: #1c1a19;
  }

  .modalflex {
    display: flex;
    flex-direction: column;
  }

  .modalflex2 {
    height: 40%;
  }

  .header3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-image: url(./img2/header3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 30%;
    justify-content: left;
    margin-left: 1.5em;
  }

  .button-first {
    margin-top: 80px;
    width: 8.5em;
    font-size: 17px;
    border: none;
    height: 1.5em;
    padding: 0;
  }

  .hf {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #ff6b00;
  }

  .hg {
    font-size: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .prog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 10px;
  }

  .list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    list-style: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
  }

  .forms {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    padding: 24px 0;
    margin-top: 120px;
    justify-content: center;
  }

  .getcontact {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
  }

  .contact-area {
    display: flex;
  }

  .flex {
    display: flex;
    justify-content: space-around;
  }

  #nav-ul {
    display: none;
  }

  .card1 {
    background-image: url(./img/Icons/fourth.png);
    height: 100%;
  }

  .card4 {
    background-image: url(./img/Icons/fourth.png);
    height: 100%;
  }

  .card2 {
    background-image: url(./img/Icons/fourth.png);
    height: 100%;
  }

  .card3 {
    background-image: url(./img/Icons/fourth.png);
    height: 100%;
  }

  .card1 button {
    height: 48px;
    font-size: 17px;
    margin-top: 100px;
  }

  .card2 button {
    height: 50px;
    background-color: #f55800;
    color: #fff;
    border: none;
    margin-top: 100px;
    font-size: 17px;
  }

  .card3 button {
    height: 50px;
    background-color: #f55800;
    color: #fff;
    border: none;
    margin-top: 100px;
    font-size: 17px;
  }

  .card4 button {
    height: 50px;
    background-color: #f55800;
    color: #fff;
    border: none;
    margin-top: 100px;
    font-size: 17px;
  }

  button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
  }

  .card2 button:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .card2 button:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .chips p {
    font-size: 16px;
    line-height: 20px;
    padding-left: 4px;
  }

  .chips {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .chips h3 {
    font-size: 25px;
    padding-top: 20%;
    margin-top: 0;
    line-height: 30px;
  }

  hr {
    width: 500px;
    border: 1px solid #212121;
    margin: auto;
  }

  .overlay {
    top: 0;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
  }

  .modalcontainer {
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    left: 9%;
    top: 12%;
    gap: 10px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
  }

  .bg-modal {
    height: auto;
    width: 100%;
    padding: 0;
  }

  .modal-ul {
    display: flex;
    gap: 2%;
    padding: 0;
  }

  .modal-ul li {
    color: #091e42;
    border: 1px solid #5b5957;
    padding: 0.5em;
    text-align: center;
  }

  .tech1 {
    width: 55px;
    height: 36px;
  }

  .tech2 {
    width: 90px;
    height: 36px;
  }

  .tech3 {
    width: 109px;
    height: 36px;
  }

  .title {
    width: 115%;
    height: auto;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #172b4d;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 0;
  }

  .titleclose {
    display: flex;
  }

  .livebtn {
    height: 100px;
    padding: 7px 5px;
    color: #fff;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
    text-align: center;
    text-decoration: none;
  }

  .livebtn:hover {
    background-color: #fff5e1;
    color: #f55800;
  }

  .modalbtn {
    color: #1c1a19;
    font-size: 25px;
    padding: 0;
  }

  .modaldescript {
    font-size: 1em;
    line-height: 1.2em;
    color: #091e42;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    padding-top: 10px;
  }

  @media screen and (max-width: 450px) {
    .card1 {
      width: auto;
      height: 400px;
    }

    .card2 {
      width: auto;
      height: 400px;
    }

    .card3 {
      width: auto;
      height: 400px;
    }

    .card4 {
      width: auto;
      height: 400px;
    }

    .button-first {
      width: 9em;
      padding: 9px 5px;
      font-weight: 700;
      font-size: 0.8em;
      margin-top: 50px;
    }

    .hc {
      font-size: 16px;
      line-height: 24px;
      width: auto;
      height: 147px;
    }
  }
}
