@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 375px;
  margin: auto;
  height: auto;
}

.profile {
  background-color: #1c1a19;
  width: 375px;
  height: 600px;
  display: flex;
  background-image: url(./img2/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 100%;
  flex-direction: column;
  padding-top: 120px;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-left: 24px;
  padding-right: 24px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #fff5e1;
  padding-left: 24px;
  padding-right: 24px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.profile > ul {
  display: inline-flex;
  padding: 30px 24px;
  gap: 12px;
}

.profile > ul > li {
  text-decoration: none;
  list-style: none;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.profile > ul > li > a {
  color: #dbd8d7;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 0 20px 20px;
}

.logo2 {
  padding: 20px 20px 20px 0;
}

.header2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.ha {
  width: 327px;
  height: 83px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  color: #1c1a19;
  padding: 24px;
}

.vector {
  width: 327px;
  border: 1px solid #212121;
}
.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.hb {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.hc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.nx {
  display: flex;
  gap: 12px;
  flex-direction: row;
  list-style-type: none;
  padding-left: 24px;
}

.nx > li {
  border: 1px solid #ccc;
  padding: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  list-style: none;
}

button {
  width: 124px;
  padding: 12px 12px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-left: 24px;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 24px;
  padding-bottom: 120px;
}
.name2 {
  width: 327px;
  height: 386px;
  justify-content: flex-end;
  background-image: url(./img2/Mask\ Group.png);
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.hd {
  width: 295px;
  height: 81px;
  font-family: "Crete Round";
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
.he {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 30px;
  color: #fff;
}
.ul {
  display: flex;
  padding-left: 24px;
  gap: 8px;
}

.ul > li {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.button2 {
  width: 327px;
  border-style: none;
  margin-left: 0;
}

.header3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 120px;
  background: #1c1a19;
  /* padding-left: 24px; */
}

.hf {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
}

hr{
    border: 1px solid #fff;
    margin-left: 24px;
    margin-right: 24px;
  }

.bckimg{
    display: flex;
    justify-content: flex-end;
    height: 258.17;
}
.list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0;
  color: #fff;
}

.l2{
    margin-bottom: 130px;
}

  
 
