@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 375px;
  margin: auto;
  height: auto;
}

.profile {
  background-color: #1c1a19;
  width: 375px;
  height: 600px;
  display: flex;
  background-image: url(./img2/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 100%;
  flex-direction: column;
  padding-top: 120px;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-left: 24px;
  padding-right: 24px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #fff5e1;
  padding-left: 24px;
  padding-right: 24px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.profile ul {
  display: inline-flex;
  padding: 30px 24px;
  gap: 12px;
}

.nx li {
  border: 1px solid #ccc;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  list-style: none;
}

.ul li {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.footer li {
  list-style-type: none;
}

.profile ul li {
  text-decoration: none;
  list-style: none;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 0 20px 20px;
}

.logo2 {
  padding: 20px 20px 20px 0;
}

.header2 {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 24px;
}

.ha {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  color: #1c1a19;
  padding: 24px;
  text-align: center;
}

.vector {
  width: 327px;
  border: 1px solid #212121;
  margin-left: 24px;
  margin-bottom: 24px;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.hb {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.hc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.nx {
  display: flex;
  gap: 12px;
  flex-direction: row;
  list-style-type: none;
  padding-left: 24px;
}

.button1 {
  width: 124px;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-left: 24px;
  border: none;
}

.button2 {
  width: 327px;
  border-style: none;
  margin-left: 0;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: o;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 24px;
  padding-bottom: 120px;
  padding-left: 24px;
}

.name2 {
  width: 327px;
  height: 386px;
  justify-content: flex-end;
  background-image: url(./img2/Mask\ Group.png);
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.hd {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.he {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 30px;
  color: #fff;
}

.ul {
  display: flex;
  padding-left: 24px;
  gap: 8px;
}

.profile ul li a {
  color: #dbd8d7;
}

.header3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 120px;
  background: #1c1a19;
}

.smb {
  background-image: url(./img/Icons/Groupy.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 100%;
  width: 375px;
  height: 200px;
}

.hf {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

hr {
  border: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
}

.bckimg {
  display: flex;
  justify-content: flex-end;
  height: 258.17;
}

.list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0;
  color: #fff;
}

.l2 {
  margin-bottom: 130px;
}

.bullet {
  list-style-image: url(./img/Icons/Rectangle\ 55.png);
}

.bullet2 {
  list-style-image: url(./img/Icons/Rectangle\ 56.png);
}

.bullet3 {
  list-style-image: url(./img/Icons/Rectangle\ 57.png);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 120px;
  margin-bottom: 30px;
}

.hg {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}

.getcontact {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-left: 24px;
  margin-right: 24px;
}

.input:placeholder {
  color: #dbd8d7;
}

.textarea {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #3c3a39;
  background-color: #fbf8f7;
  margin-left: 24px;
  margin-right: 24px;
}

.button-final {
  width: 124px;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin: auto;
  border: none;
}

.button-final:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.button-first {
  width: 150px;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-left: 24px;
  border: none;
}

.footer {
  padding: 20px 20px;
  border-top: 1px solid #dfe1e6;
}

.footer ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-hr {
  width: 50%;
  margin: auto;
  border: 3px solid #000;
}
